/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> df878f6... Movie listing done

footer {
    color: grey;
    background-color: #e3f2fd;
    position: fixed;
    bottom: 0px;
    width: 100%;
<<<<<<< HEAD
}
=======
>>>>>>> 635ee2d... framework downloaded
=======
}
>>>>>>> df878f6... Movie listing done
