* {
    font-size: 14px;
    font-family: Arial;
}


/*https://adamschwartz.co/magic-of-css/chapters/1-the-box/*/

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
}

section {
    margin: 1em;
    text-align: center;
}

#jokeSection {
    display: block;
    position: relative;
    align-items: center;
    clear: left;
    margin: 1em;
}

#hidden {
    display: block;
    width: 100%;
    position: relative;
    clear: both;
    opacity: 0;
    transition: 4s;
}