* {
    font-size: 14px;
    font-family: Arial;
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

h1 {
    margin: 2%;
}


/*-------------------FLEX----------------------*/

.container-flex {
    width: 90%;
    margin: 50px;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
}

.imagecont-flex {
    width: 25%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}

.imagecont-flex .imagecont-flex-description {
    background-color: transparent;
    color: white;
    text-align: center;
    height: 10%;
    width: 100%;
}

.imagecont-flex:hover .imagecont-flex-description {
    background-color: rgb(64, 64, 64);
    opacity: 1;
}


/*-------------------GRID----------------------*/

.container-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto [col-start]);
    grid-template-rows: repeat(2, 50% [col-start]);
}

.imagecont-grid {
    width: 80%;
    grid-template-rows: 5% 90%;
    align-self: stretch;
    margin: 5% 10%;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}

.imagecont-grid .imagecont-grid-description {
    background-color: transparent;
    color: white;
    text-align: center;
    width: 100%;
}

.imagecont-grid:hover .imagecont-grid-description {
    background-color: rgb(64, 64, 64);
    opacity: 1;
}