* {
    font-size: 14px;
    font-family: Arial;
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

h1 {
    margin: 2%;
}

.box {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}


/*-------------------FLEX----------------------*/

.container-flex {
    width: 90%;
    margin: 50px;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
}

.imagecont-flex {
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}

.imagecont-flex .imagecont-flex-description {
    background-color: transparent;
    color: white;
    text-align: center;
    width: 100%;
}

.imagecont-flex:hover .imagecont-flex-description {
    background-color: rgb(64, 64, 64);
    opacity: 1;
}


/*-------------------GRID----------------------*/

.container-grid {
    display: grid;
    grid-template-columns: repeat(3, auto [col-start]);
    grid-template-rows: repeat(2, 50% [col-start]);
}

.imagecont-grid {
    grid-template-rows: 5% 90%;
    align-self: stretch;
    margin: 5% 10%;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}

.imagecont-grid .imagecont-grid-description {
    background-color: transparent;
    color: white;
    text-align: center;
    width: 100%;
}

.imagecont-grid:hover .imagecont-grid-description {
    background-color: rgb(64, 64, 64);
    opacity: 1;
}


/*---------------Media Queries----------------*/

@media all and (min-width: 1080px) {
    .imagecont-flex {
        width: 32%;
    }
}

@media all and (min-width: 1080px) {
    .container-grid {
        width: 100%;
    }
}

@media all and (max-width: 1079px) and (min-width: 700px) {
    .imagecont-flex {
        width: 45%;
    }
}

@media all and (max-width: 1079px) and (min-width: 700px) {
    .container-grid {
        width: 100%;
        grid-template-columns: repeat(2, auto [col-start]);
        grid-template-rows: repeat(3, auto [row-start]);
    }
}

@media all and (max-width: 699px) and (min-width: 400) {
    .imagecont-flex {
        width: 32%;
    }
}

@media all and (max-width: 699px) and (min-width: 400px) {
    .container-grid {
        width: 100%;
        grid-template-columns: repeat(1, auto [col-start]);
        grid-template-rows: repeat(6, auto [row-start]);
    }
}