<h2>My movies</h2>
<ul class="list-group" *ngFor="let movie of movies" (click)="onSelect(movie)">
    <li class="list-group-item">
        <h5>Title: {{movie.title}}</h5>
    </li>
    <hr>
</ul>

<div *ngIf="selectedMovie">

    <div class="input-group input-group-lg p-2 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Title</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" [(ngModel)]="selectedMovie.title" placeholder="Title" />
    </div>

    <div class="input-group input-group-lg p-2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Year</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" [(ngModel)]="selectedMovie.year" placeholder="Year" />
    </div>

    <div class="input-group input-group-lg p-2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Director</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" [(ngModel)]="selectedMovie.director" placeholder="Director" />
    </div>

    <div class="input-group input-group-lg p-2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">My Points</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" [(ngModel)]="selectedMovie.points" placeholder="MyPoints" />
    </div>

</div>