<div class="container" *ngIf="movie">

    <ul class="list-group py-4">
        <li class="list-group-item">
            <h5>Title: {{movie.title}}</h5>
        </li>
        <li class="list-group-item">
            <h5>Year: {{movie.year}}</h5>
        </li>
        <li class="list-group-item">
            <h5>Director: {{movie.director}}</h5>
        </li>
        <li class="list-group-item">
            <h5>My Points: {{movie.points}}</h5>
        </li>
    </ul>

    <button type="button" class="btn-secondary btn-lg" (click)="goBack()">Return</button>

</div>