* {
    font-size: 20px;
    font-family: Arial;
}


/*https://adamschwartz.co/magic-of-css/chapters/1-the-box/*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
    margin: 1em;
}

fieldset {
    margin-left: 2px;
    margin-right: 2px;
    padding: 1em;
}